.footer {
    /* max-width: 60%; */
    /* margin: 0 auto; */
    /* margin-top: auto; */
    border-top: 1px solid #f0e2e2;
    
}

.icons {
    margin: 5% 40%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.footer .icon {
    width: 4vw;
    height: 4vw;

}