.footer {
    /* text-align: center; */
    border-top: 1px solid #eecfcf;
    height: 8vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    
}


