.preview{
    /* max-width: 60%; */
    /* background-color: aqua; */
    /* margin: 0 auto; */
    /* margin: 2vw 0; */
}

.preview .blog h1{
    margin: 20px 0vw 10px ;
    /* margin: 2vw 5vw 0vw; */
    text-align: center;
}

.preview .blog p{
    margin: 0 7vw;
    line-height:1.5;
    /* font-size: 1.5em; */
}